<%- include ('partials/appHeader') %>
<p style="display: none;" class="page">stories</p>
<div class="story-container">
    <div class="story-form">
        <form action="/story" method="post">
            <input type="text" name="story" placeholder="Create story" maxlength="100">
            <button type="submit">POST</button>
    </div>
    <div class="wrapper">
        <%posts.forEach(function(post) { %>
            <div class="story">
                <p><%= post.user%>:</p>
                <h3><%= post.post%></h3>
            </div>
        <%})%>
    </div>
</div>
</form>

<script>
    let page = document.querySelector('.page');
    let element = document.querySelector('.stories')
    if (page.innerHTML == element.innerHTML.toLowerCase()){
      element.classList.add('active');
    }
</script>
<%- include ('partials/appFooter') %>